**Основные горячие клавиши**

* Esc: Переключение между режимом выполнения и редактирования
* Esc + 00 (ноль-ноль): Перезапуск.
* A: Добавление пустой ячейки сверху
* B: Добавление пустой ячейки снизу
* DD: Удаления ячейки
* C: Копирование ячеек
* X: Вырезание ячеек
* V: Вставка ячеек
* Esc + Z: Вернуть удаленную ячейку. Помнит больше одной ячейки))))

Полный список коротких команд: Help - Keyboard Shortcuts

**Объединить ячейки  Shift + M**

Избыточное число ячеек затрудняет проверку.

**Разъединить ячейки Control + Shift + -**
Предварительно поставив курсор перед линией, с которой начнётся вторая ячейка.

In [17]:
# Загрузка всех необходимых библиотек для проекта - хорошо делать это в отдельном блоке
import pandas as pd

In [20]:
# Загрузка данных

data = pd.read_csv('real_estate_data.csv', '\t')

In [21]:
data.describe()

,total_images,last_price,total_area,rooms,ceiling_height,floors_total,living_area,floor,kitchen_area,balcony,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
count,23699.000000,2.369900e+04,23699.000000,23699.000000,14504.000000,23613.000000,21796.000000,23699.000000,21421.000000,12180.000000,18157.000000,18180.000000,18181.000000,8079.000000,18181.000000,9110.000000,20518.000000
mean,9.858475,6.541549e+06,60.348651,2.070636,2.771499,10.673824,34.457852,5.892358,10.569807,1.150082,28793.672193,14191.277833,0.611408,490.804555,0.770255,517.980900,180.888634
std,5.682529,1.088701e+07,35.654083,1.078405,1.261056,6.597173,22.030445,4.885249,5.905438,1.071300,12630.880622,8608.386210,0.802074,342.317995,0.938346,277.720643,219.727988
min,0.000000,1.219000e+04,12.000000,0.000000,1.000000,1.000000,2.000000,1.000000,1.300000,0.000000,0.000000,181.000000,0.000000,1.000000,0.000000,13.000000,1.000000
25%,6.000000,3.400000e+06,40.000000,1.000000,2.520000,5.000000,18.600000,2.000000,7.000000,0.000000,18585.000000,9238.000000,0.000000,288.000000,0.000000,294.000000,45.000000
50%,9.000000,4.650000e+06,52.000000,2.000000,2.650000,9.000000,30.000000,4.000000,9.100000,1.000000,26726.000000,13098.500000,0.000000,455.000000,1.000000,502.000000,95.000000
75%,14.000000,6.800000e+06,69.900000,3.000000,2.800000,16.000000,42.300000,8.000000,12.000000,2.000000,37273.000000,16293.000000,1.000000,612.000000,1.000000,729.000000,232.000000
max,50.000000,7.630000e+08,900.000000,19.000000,100.000000,60.000000,409.700000,33.000000,112.000000,5.000000,84869.000000,65968.000000,3.000000,3190.000000,3.000000,1344.000000,1580.000000

**Сделать ноутбук во всю ширину экрана** - для просмотра широких таблиц

In [23]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:99% !important; }</style>"))

**А если ширина экрана не достаточна?** Транспонирование спешит на помощь!

In [24]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
total_images,23699.0,9.858475e+00,5.682529e+00,0.0,6.00,9.00,14.0,50.0
last_price,23699.0,6.541549e+06,1.088701e+07,12190.0,3400000.00,4650000.00,6800000.0,763000000.0
total_area,23699.0,6.034865e+01,3.565408e+01,12.0,40.00,52.00,69.9,900.0
rooms,23699.0,2.070636e+00,1.078405e+00,0.0,1.00,2.00,3.0,19.0
ceiling_height,14504.0,2.771499e+00,1.261056e+00,1.0,2.52,2.65,2.8,100.0
floors_total,23613.0,1.067382e+01,6.597173e+00,1.0,5.00,9.00,16.0,60.0
living_area,21796.0,3.445785e+01,2.203045e+01,2.0,18.60,30.00,42.3,409.7
floor,23699.0,5.892358e+00,4.885249e+00,1.0,2.00,4.00,8.0,33.0
kitchen_area,21421.0,1.056981e+01,5.905438e+00,1.3,7.00,9.10,12.0,112.0
balcony,12180.0,1.150082e+00,1.071300e+00,0.0,0.00,1.00,2.0,5.0
airports_nearest,18157.0,2.879367e+04,1.263088e+04,0.0,18585.00,26726.00,37273.0,84869.0
cityCenters_nearest,18180.0,1.419128e+04,8.608386e+03,181.0,9238.00,13098.50,16293.0,65968.0
parks_around3000,18181.0,6.114075e-01,8.020736e-01,0.0,0.00,0.00,1.0,3.0
parks_nearest,8079.0,4.908046e+02,3.423180e+02,1.0,288.00,455.00,612.0,3190.0
ponds_around3000,18181.0,7.702547e-01,9.383456e-01,0.0,0.00,1.00,1.0,3.0
ponds_nearest,9110.0,5.179809e+02,2.777206e+02,13.0,294.00,502.00,729.0,1344.0
days_exposition,20518.0,1.808886e+02,2.197280e+02,1.0,45.00,95.00,232.0,1580.0

**Установить библиотеки**: !pip install + нужная библиотека.

<font color=red> Учитывайте время загрузки библиотек.            </font>

In [25]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\olga\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\olga\anaconda3\lib\site-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2011k in c:\users\olga\anaconda3\lib\site-packages (from pandas) (2018.5)
Requirement already satisfied: numpy>=1.9.0 in c:\users\olga\anaconda3\lib\site-packages (from pandas) (1.17.4)
Requirement already satisfied: six>=1.5 in c:\users\olga\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)

**Обновить pip**

In [26]:
!python -m pip install --upgrade pip

Requirement already up-to-date: pip in c:\users\olga\anaconda3\lib\site-packages (20.0.2)

**Вызов справки** по библотеке/методу/...

In [27]:
#Справка по встроенному методу
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [28]:
#Справка по библиотеке
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, moving window linear regressions,
        date shifting and lagging, etc.

PACKAGE CONTENTS
    _libs (package)
    _version
    api (package)
    compat (package)
    computation (package)
    conftest
    core (package)
    errors (package)
    formats (package)
    io (package)
    json
    lib
    parser
    plotting (package)
    testing
    tests (package)
    tools (package)
    tseries (package)
    tslib
    types (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    datetools = <module 'pandas.core.datetools' from 'C:\\Users\...\lib\\s...
    describe_option = <pandas.core.config.CallableDynamicDoc object>
    get_option = <pandas.core.config.CallableDynamicDoc object>
    json = <module 'pandas.json' from 'C:\\Users\\Olga\\Anaconda3\\lib\\si...
    lib = <module 'pandas.lib' from 'C:\\Users\\Olga\\Anaconda3\\lib\\site...
    options = <pandas.core.config.DictWrapper object>
    parser = <module 'pandas.parser' from 'C:\\Users\\Olga\\Anaconda3\\lib...
    plot_params = {'xaxis.compat': False}
    reset_option = <pandas.core.config.CallableDynamicDoc object>
    set_option = <pandas.core.config.CallableDynamicDoc object>
    tslib = <module 'pandas.tslib' from 'C:\\Users\\Olga\\Anaconda3\\lib\\...

VERSION
    0.23.4

FILE
    c:\users\olga\anaconda3\lib\site-packages\pandas\__init__.py

In [29]:
#Справка по методу библиотеки
help(pd.groupby)

Help on function groupby in module pandas.core.api:

groupby(*args, **kwargs)

In [30]:
#Справка по вашей функции
def simple(a, b):
    '''Выводит сумму чисел a и b'''
    return (a+b)

help(simple)

Help on function simple in module __main__:

simple(a, b)
    Выводит сумму чисел a и b

**Время исполнения кода**. Позволяет понять, не слишком ли долго исполняется ваш код. Предупредить ревьюера о времени исполнения кода.

In [31]:
%%time 
a = 2 # здесь должно быть любое наполнение ячейки

Wall time: 0 ns